@import './../../../public/assets/styles/variable.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-header);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--spacing-padding);
}

.logo a {
    font-size: var(--font-size-heading);
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.logo a:hover {
    color: var(--color-link-hover);
    text-shadow: 0 0 5px var(--color-link-hover);
}

.nav-list {
    display: flex;
    gap: var(--spacing-margin);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-link {
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--font-size-base);
    padding: var(--spacing-padding) 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: var(--color-link-hover);
    transform: scale(1.1);
}

.nav-link.active {
    color: var(--color-link-hover);
    font-weight: bold;
}

.profile-buttons {
    display: flex;
    gap: calc(var(--spacing-margin) / 2);
}

.profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.profile-icon:hover {
    color: var(--color-link-hover);
}

.icon-text {
    font-size: 12px;
    margin-top: calc(var(--spacing-margin) / 4);
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-icon:hover .icon-text {
    opacity: 1;
    transform: translateY(0);
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: var(--color-text);
    border-radius: var(--spacing-border-radius);
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--color-header);
        padding: var(--spacing-padding);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .nav-list.open {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
}
