@import './../../../public/assets/styles/variable.css';

/* Общие стили */
.services-page {
    padding: var(--spacing-padding);
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
}

h1 {
    text-align: center;
    margin-bottom: var(--spacing-margin);
    color: var(--color-button-hover);
}

.filter-sort-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-margin);
}

.filter-controls button,
.sort-controls button {
    padding: calc(var(--spacing-padding) / 2) var(--spacing-padding);
    margin: calc(var(--spacing-margin) / 2);
    background-color: var(--color-link);
    color: var(--color-background);
    border: none;
    border-radius: var(--spacing-border-radius);
    transition: background-color 0.3s ease;
}

.filter-controls button:hover,
.sort-controls button:hover {
    background-color: var(--color-button-hover);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-margin);
    justify-content: center;
}

.service-card {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    border-radius: var(--spacing-border-radius);
    box-shadow: 0 4px 10px var(--color-card-shadow);
    overflow: hidden;
    max-width: 40%;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid var(--color-secondary);
}

.service-card h3 {
    margin: var(--spacing-margin) 0;
    color: var(--color-link);
}

.service-card p {
    margin: var(--spacing-margin);
}

.service-card .price {
    font-weight: bold;
    color: var(--color-error);
}

/* Галерея */
.gallery {
    margin-top: calc(var(--spacing-margin) * 4);
}

.gallery h2 {
    text-align: center;
    margin-bottom: var(--spacing-margin);
    color: var(--color-link);
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-margin);
    justify-content: center;
}

.gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: var(--spacing-border-radius);
    box-shadow: 0 4px 10px var(--color-card-shadow);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.1);
}

/* Адаптивность */
@media (max-width: 768px) {
    .filter-sort-controls {
        flex-direction: column;
        align-items: center;
    }
    .service-card h3 {
        font-size: 18px;
    }
    .services-list {
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid {
        flex-direction: column;
        align-items: center;
    }
}
